{% extends "AdminBundle::template.html.twig" %}

{% block item_dashbord %}active{% endblock %}

{% block breadcrumbs %}
    <li class="active"><a href="#"><i class="fa fa-dashboard"></i> Accueil</a></li>
{% endblock %}

{% block page_title %}Tableau de bord{% endblock %}

{% block body_content %}
	Contenu...
{% endblock %}