<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="description" content="Promotion d'opportunités en Casamance">
        <meta name="keywords" content="Casamance, Senegal, hotels, restaurants, evasion, soleil">
        <meta name="generator" content="hosting-page-builder">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@delacasamance">
        <meta name="twitter:title" content="Agriculture - Tourisme - Evénements">
        <meta name="twitter:description" content="Promotion d'opportunités en Casamance">
        <meta name="og:url" content="https://delacasamance.com/index.php">
        <meta name="og:locale" content="fr">
        <meta name="og:type" content="website">

        <meta name="article:publisher" content="delacasamance/?fref=ts">

        <meta name="author" value="abdoulaye KAMA">

        <meta name="reply-to" content="abdoulayekama@gmail.com">
        <meta name="category" content="internet">
        <meta name="robots" content="index, follow">
        <meta name="distribution" content="global">

        <meta name="copyright" content="Abdoulaye KAMA">

        <title>{% block title %}Agriculture - Tourisme - Evénements{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-touch-icon-120x120.png') }}">
    </head>
    
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
            <div class="control-sidebar-bg"></div>
        </div>
    </body>
</html>
